@page
@model RM_Warehouse.Pages.Complete_OrderModel
@{
    ViewData["Title"] = "Complete Order - Outbound";
}
@using System.Data;

@*BELOW CODE WORKS FOR NESTED DATATABLES - COLLAPSE AND SHOW*@

<script>
    $(document).ready(function () {
        $(".toptable tr.nested").hide();
        $(".toptable td.showHide").on('click', function () {
            if ($(this).html() == '+') {
                $(this).html('-');
                $(this).parent('tr').next('tr.nested').show();
            }
            else {
                $(this).html('+');
                $(this).parent('tr').next('tr.nested').hide();
            }
        });
    });
</script>

@*BELOW CODE SHOWS ALERT MESSAGE FROM CODE BEHIND*@

@if (TempData["ConfirmationMessage"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@TempData["ConfirmationMessage"]");
        };
    </script>
}

<br />
<a href="Complete_Order" onclick="spinner();">Show All Orders.</a>
<br />

@*BELOW CODE IS SHOWING NESTED TABLES FOR OUTBOUND ORDERS WITH "PICK" STATUS
ALSO,IT HAS COMPLETE ORDER BUTTON WHICH COMPLETES AN ORDER
*@

<form method="post">
@if (Model.flag_orders)
    {
           <h4>ORDERS TO BE COMPLETED</h4>
    @if (Complete_OrderModel.dt_orders != null)
    {
        <div class="table-responsive" style="max-height:450px;font-size:small;">
            <table class="table table-bordered table-striped toptable" height="30%">
                <thead class="FixedHeader">
                    <tr>
                        <td></td>
                        <td></td>
                        <td>ORDER_ID</td>
                        <td>ORDER_DATE</td>
                        <td>PONUMBER</td>
                        <td>STATUS</td>
                        <td>ENTER_DATE</td>
                        <td>ENTER_BY</td>
                    </tr>
                </thead>

                <tbody>
                    @try
                    {
                        @foreach (DataRow row in Complete_OrderModel.dt_orders.Rows)
                        {
                            <tr class="accordion">
                                    <td class="showHide" style="cursor: pointer;font-size:x-large;">
                                    +
                                </td>
                                <td>
                                    <button asp-page-handler="CompleteOrder" onclick="spinner();" asp-route-order_id_1="@row["ORDER_ID"]">
                                            <i class="fa-solid fa-folder-closed" style="color:blue;" title="COMPLETE ORDER"></i>
                                    </button>
                                </td>
                                <td>@row["ORDER_ID"]</td>
                                <td>@row["ORDER_DATE"]</td>
                                <td>@row["PONUMBER"]</td>
                                <td>@row["ORDER_STATUS"]</td>
                                <td>@row["ENTER_DATE"]</td>
                                <td>@row["ENTER_BY"]</td>
                                
                            </tr>
                            <tr class="nested">
                                <td colspan="9">
                                    @try
                                    {
                                        @foreach (DataTable table_1 in Model.nested_tables.Tables)
                                        {
                                            @if (table_1.TableName == row["ORDER_ID"].ToString())
                                            {
                                                <div class="table-responsive" style="max-height:450px;font-size:small;">
                                                    <table class="table table-bordered table-striped" height="30%">
                                                        <thead class="LightGreen">
                                                            <tr>
                                                                <td>IS RECEIVED</td>
                                                                <td>ID</td>
                                                                <td>ORDER_ID</td>
                                                                <td>ITEM CODE</td>
                                                                <td>ITEM_DESCRIPTION</td>
                                                                <td>ORDERED QUANTITY</td>
                                                                <td>PICKED QUANTITY</td>
                                                                <td>PICKED BY</td>
                                                                <td>PICKED DATE</td>
                                                                <td>UNIT PRICE</td>
                                                                <td>CURRENCY</td>

                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            @foreach (DataRow row_nested in table_1.Rows)
                                                            {
                                                                <tr>
                                                                    <td>@row_nested["IS_RECEIVED"]</td>
                                                                    <td>@row_nested["ID"]</td>
                                                                    <td>@row_nested["ORDER_ID"]</td>
                                                                    <td>@row_nested["Item_Code"]</td>
                                                                    <td>@row_nested["Item_Desc"]</td>
                                                                    <td>@row_nested["ORDERED_QUANTITY"]</td>
                                                                    <td>@row_nested["PICKED_QUANTITY"]</td>
                                                                    <td>@row_nested["PICKED_BY"]</td>
                                                                    <td>
                                                                        @if (@row_nested["PICKED_DATE"] != DBNull.Value)
                                                                        {
                                                                            @Convert.ToDateTime(row_nested["PICKED_DATE"]).ToString("M/d/yyyy")
                                                                        }
                                                                        else
                                                                        {
                                                                            @row_nested["PICKED_DATE"]
                                                                        }
                                                                    </td>
                                                                    <td>@row_nested["UNIT_PRICE"]</td>
                                                                    <td>@row_nested["CURRENCY"]</td>


                                                                    </tr>


                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>
                                            }

                                        }
                                    }

                                    catch (NullReferenceException ex)
                                    {
                                        return;
                                    }
                                </td>
                            </tr>



                        }
                    }
                    catch (NullReferenceException ex)
                    {
                        return;
                    }
                </tbody>
            </table>
        </div>
    }
        else
        {
            <br />
            <span style="color:red;">NO RECORDS ARE FOUND</span>
        }
}
</form>